doctype html
html
	head
		title jncornett
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

	body
		.container
			.row
				.col-xs-12
					h2.text-muted jncornett
			.row#qedit
				.col-xs-12
					.col-xs-12
						h3 qedit
					.col-xs-2.col-md-1
						h5.text-muted.pull-right it 
					.col-xs-10.col-md-11
						h5: strong is an inline reactive field editor for Bootstrap-3/Meteor. Similar to (but more basic than)  
							a(href="http://vitalets.github.io/x-editable/"): em x-editable
					.col-xs-2.col-md-1
						h5.text-muted.pull-right clone
					.col-xs-10.col-md-11
						h5 
							kbd git clone https://github.com/jncornett/meteor-qedit

					.col-xs-2.col-md-1
						h5.text-muted.pull-right more
					.col-xs-10.col-md-11
						a.btn.btn-link(href="https://github.com/jncornett/meteor-qedit") github
						a.btn.btn-link(href="/qedit/qedit.html") docs

			.row#orwell
				.col-xs-12
					.col-xs-12
						h3 orwell
					.col-xs-2.col-md-1
						h5.text-muted.pull-right an
					.col-xs-10.col-md-11
						h5: strong essay written by the novellist george orwell.
					.col-xs-2.col-md-1
						h5.text-muted.pull-right read
					.col-xs-10.col-md-11
						h5: a(href="orwell/politics-and-the-english-language.html") here


		script(src="//code.jquery.com/jquery-2.1.0.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="index.js")